@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scrollbar-gutter: stable;
  }
  @supports not (scrollbar-gutter: stable) {
    :root {
      overflow-y: scroll;
    }
  }
}

/* SVG styles for illustration */
.cls-1 {
  fill: none;
}

.cls-2, .cls-3, .cls-4 {
  fill: none;
  stroke-linecap: round;
}

.cls-5, .cls-3, .cls-6, .cls-4, .cls-8 {
  stroke-width: 1.5px;
}

.cls-5, .cls-3, .cls-6, .cls-8 {
  stroke: #afcbe2;
}

.cls-5, .cls-6, .cls-8 {
  fill: #fff;
}

.cls-5, .cls-4 {
  stroke-linejoin: round;
}

.cls-10, .cls-12 {
  fill: #a0703f;
}

.cls-13 {
  fill: #d8d0e7;
}

.cls-14 {
  fill: #fae1b3;
}

.cls-15 {
  isolation: isolate;
}

.cls-16 {
  mix-blend-mode: multiply;
}

.cls-18 {
  fill: #042e33;
}

.cls-19 {
  fill: #f29a9a;
}

.cls-2, .cls-4 {
  stroke: #a0703f;
}
